---
import image from "@assets/faqs.jpg";
import Accordion from "@atoms/Accordion.astro";
import AccordionItem from "@atoms/AccordionItem.astro";
import { getI18N } from "@i18n/index.js";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale });
---

<section class="pb-12 md:py-24 bg-[#F2F3F3] text-dark z-30 relative">
  <div class="max-w-[1160px] mx-auto px-4 hidden md:block">
    <div class="flex flex-wrap justify-end -mx-4">
      <div class="w-full md:w-1/2 px-4">
        <h2 class="mb-12 md:mb-24 text-xl" set:html={t.faqs.TITLE} />
      </div>
    </div>
  </div>
  <div class="relative">
    <div class="md:absolute inset-y-0 left-0 w-full md:w-[40%] h-full">
      <img
        src={image.src}
        alt=""
        class="object-cover object-center w-full h-full md:rounded-br-3xl md:rounded-tr-3xl mb-12 md:mb-0"
      />
    </div>
    <div class="max-w-[1160px] mx-auto px-4">
      <div class="flex flex-wrap justify-end -mx-4">
        <div class="w-full md:w-1/2 px-4">
          <h2
            class="mb-12 md:mb-24 text-xl md:hidden"
            set:html={t.faqs.TITLE}
          />
          <h3
            class="text-[40px] md:text-[56px] text-balance font-light leading-none mb-16"
          >
            {t.faqs.SUBTITLE}
          </h3>
          <Accordion>
            <AccordionItem id="faq1" title={t.faqs.QUESTION1.TITLE}>
              <p class="pb-5">{t.faqs.QUESTION1.TEXT}</p>
            </AccordionItem>

            <AccordionItem id="faq2" title={t.faqs.QUESTION2.TITLE}>
              <p class="pb-5">{t.faqs.QUESTION2.TEXT}</p>
            </AccordionItem>

            <AccordionItem id="faq3" title={t.faqs.QUESTION3.TITLE}>
              <p class="pb-5">{t.faqs.QUESTION3.TEXT}</p>
            </AccordionItem>

            <AccordionItem id="faq4" title={t.faqs.QUESTION4.TITLE}>
              <p class="pb-5" set:html={t.faqs.QUESTION4.TEXT} />
            </AccordionItem>
          </Accordion>
        </div>
      </div>
    </div>
  </div>
</section>
