---
import image from "@assets/fundfy_logo.svg";
import Button from "@atoms/Button.astro";
import { MENU_SCROLL_POSITIONS } from "@data/constants";
import { getI18N } from "@i18n/index.js";
import { getRelativeLocaleUrl } from "astro:i18n";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale });

const classes = {
  link: "md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer",
};
---

<footer class="pt-20 pb-5 bg-dark text-white mt-auto">
  <div
    class="max-w-[1160px] mx-auto w-full px-4 relative grid grid-cols-1 md:grid-cols-4 gap-4 text-center md:text-left"
  >
    <div>
      <img src={image.src} alt="Logo" class="w-40 mb-2.5 mx-auto md:mx-0" />
      <p class="font-semibold text-xl mb-11">{t.footer.SUBTITLE}</p>
      <Button
        tag="a"
        className="animated-link"
        dataTime={MENU_SCROLL_POSITIONS.CONTACT}>{t.buttons.JOINCLUB}</Button
      >
    </div>

    <nav>
      <ul>
        <li>
          <a
            class="animated-link"
            class:list={classes.link}
            data-time={MENU_SCROLL_POSITIONS.HOME}
          >
            {t.footer.HOME}
          </a>
        </li>
        <li>
          <a
            class="animated-link"
            class:list={classes.link}
            data-time={MENU_SCROLL_POSITIONS.INVESTMENT}
          >
            {t.footer.INVESTMEN}
          </a>
        </li>
        <li>
          <a
            class="animated-link"
            class:list={classes.link}
            data-time={MENU_SCROLL_POSITIONS.EXPERIENCES}
          >
            {t.footer.EXPERIENCE}
          </a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>
          <a
            class="animated-link"
            class:list={classes.link}
            data-time={MENU_SCROLL_POSITIONS.FAQS}
          >
            {t.footer.FAQS}
          </a>
        </li>
        <li>
          <a
            class="animated-link"
            class:list={classes.link}
            data-time={MENU_SCROLL_POSITIONS.CONTACT}
          >
            {t.footer.CONTACT}
          </a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>
          <a
            class:list={classes.link}
            href={getRelativeLocaleUrl(currentLocale ?? "en", "/privacy")}
          >
            {t.footer.PRIVACY}
          </a>
        </li>
        <li>
          <a
            class:list={classes.link}
            href={getRelativeLocaleUrl(currentLocale ?? "en", "/cookies")}
          >
            {t.footer.COOKIES}
          </a>
        </li>
        <li>
          <a
            class:list={classes.link}
            href={getRelativeLocaleUrl(currentLocale ?? "en", "/conditions")}
          >
            {t.footer.CONDITIONS}
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <p class="text-center mt-11 text-[14px] opacity-40 px-4">
    {t.footer.COPYRIGHT}
  </p>
</footer>
