---
import HeroItem from "@atoms/HeroItem.astro";
import TraidingWidget from "@atoms/TraidingWidget.astro";
import Button from "@atoms/Button.astro";
import Wallet1 from "@assets/Wallet1.svg";
import Wallet2 from "@assets/Wallet2.svg";
import Wallet3 from "@assets/Wallet3.svg";
import Wallet4 from "@assets/Wallet4.svg";
import { MENU_SCROLL_POSITIONS } from "@data/constants";
import { getI18N } from "@i18n/index.js";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale });
---

<section
  class="text-wrapper w-screen h-screen absolute top-0 left-0 pt-24 md:pr-4 md:pt-0 z-30"
>
  <HeroItem>
    <div class="relative h-32 md:h-72 mt-6 md:mt-0">
      <div class="hero-text-1 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE1.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          {t.hero.SLIDE1.SUBTITLE}
        </p>
        <p class="text-sm md:text-lg text-primary text-balance opacity-50">
          {t.hero.SLIDE1.TEXT}
        </p>
      </div>

      <div class="hero-text-2 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE2.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          {t.hero.SLIDE2.SUBTITLE}
        </p>
      </div>

      <div class="hero-text-3 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE3.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          {t.hero.SLIDE3.SUBTITLE}
        </p>
      </div>
    </div>

    <div class="cta-buttons flex gap-5 mt-16 px-4">
      <Button
        tag="a"
        variant="ghost"
        className="animated-link"
        dataTime={MENU_SCROLL_POSITIONS.INVESTMENT}
      >
        {t.buttons.KNOWMORE}
      </Button>
      <Button
        tag="a"
        variant="secondary"
        className="animated-link"
        dataTime={MENU_SCROLL_POSITIONS.CONTACT}
      >
        {t.buttons.JOINCLUB}
      </Button>
    </div>
  </HeroItem>

  <HeroItem position="right">
    <div class="relative h-48 md:h-80">
      <div class="hero-text-4 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE4.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          {t.hero.SLIDE4.SUBTITLE}
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-primary rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <Wallet1 />

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-primary text-balance"
            >
              {t.hero.SLIDE4.WALLET_TITLE}
            </p>
            <p class="text-balance leading-5 text-[15px]">
              {t.hero.SLIDE4.WALLET_TEXT}
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-5 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE5.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#AE91BD] text-balance">
          {t.hero.SLIDE5.SUBTITLE}
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#AE91BD] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <Wallet2 />

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-[#AE91BD] text-balance"
            >
              {t.hero.SLIDE5.WALLET_TITLE}
            </p>
            <p class="text-balance leading-5 text-[15px]">
              {t.hero.SLIDE5.WALLET_TEXT}
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-6 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE6.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#91A7BD] text-balance">
          {t.hero.SLIDE6.SUBTITLE}
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#91A7BD] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <Wallet3 />

          <div>
            <p class="text-xl font-semibold text-[#91A7BD] text-balance">
              {t.hero.SLIDE6.WALLET_TITLE}
            </p>
            <p class="text-balance leading-5 text-[15px]">
              {t.hero.SLIDE6.WALLET_TEXT}
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-7 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          {t.hero.SLIDE7.TITLE}
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#BD91A0] text-balance">
          {t.hero.SLIDE7.SUBTITLE}
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#BD91A0] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <Wallet4 />

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-[#BD91A0] text-balance"
            >
              {t.hero.SLIDE7.WALLET_TITLE}
            </p>
            <p class="text-balance leading-5 text-[15px]">
              {t.hero.SLIDE7.WALLET_TEXT}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="app-button flex gap-5 mt-16 px-4">
      <Button tag="a" variant="secondary" href="#">
        {t.buttons.LAUNCHAPP}
        <span class="block ml-2 group-hover:translate-x-1 transition-transform"
          >➔</span
        >
      </Button>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-8 w-full px-4">
      <p class="md:text-center text-xl text-primary mb-3 md:mb-8 text-balance">
        <strong class="text-semibold">{t.hero.SLIDE8.STRONG_TEXT}</strong>: {
          t.hero.SLIDE8.TITLE
        }
      </p>
      <h2
        class="md:text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE8.SUBTITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-9 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE9.TITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-10 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE10.TITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-11 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE11.TITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-12 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE12.TITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-13 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE13.TITLE}
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-14 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">
          {t.hero.GLOBAL.EXPERIENCE_STRONG_TEXT}
        </strong>
        {t.hero.GLOBAL.EXPERIENCE_TITLE}
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        {t.hero.SLIDE14.TITLE}
      </h2>
    </div>

    <div class="join-button mt-4 px-4 md:mb-10">
      <Button
        tag="a"
        variant="primary"
        className="animated-link"
        dataTime={MENU_SCROLL_POSITIONS.CONTACT}
      >
        {t.buttons.JOINCLUB}
      </Button>
    </div>
  </HeroItem>

  <TraidingWidget />
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  const isMobile = window.matchMedia("(max-width: 1024px)").matches;
  const cardTop = isMobile ? "65%" : "72%";

  const tl = gsap
    .timeline()
    // Slide 2 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".hero-text-1",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-2",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 3 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })

    .to(
      ".hero-text-2",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Transition to slide 4 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationY: 10,
      rotationX: -4,
      rotationZ: -14,
      left: "50px",
      duration: 32,
      delay: 24,
    })

    .to(
      ".shadow-card",
      {
        right: "auto",
        left: "-120px",
        rotate: -60,
        duration: 32,
      },
      "<"
    )
    .to(
      ".tradingview-widget-container",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0.2,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 0,
        duration: 12,
        top: "-400px",
      },
      "<"
    )
    .to(
      ".cta-buttons",
      {
        opacity: 0,
        duration: 12,
        top: "-150px",
      },
      "<"
    )

    // Slide 4 --------------------------------------------------------------
    .to(".hero-text-4", {
      opacity: 1,
      top: "0",
      duration: 6,
    })
    .to(
      ".app-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 5 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow1",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow2",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-4",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 6 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow2",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow3",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 7 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 1080,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow3",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-7",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Trasnition to slide 8 --------------------------------------------------------------
    .to(".hero-text-7", {
      opacity: 0,
      duration: 6,
      delay: 20,
      top: "-400px",
    })
    .to(
      ".app-button",
      {
        opacity: 0,
        duration: 6,
        marginBottom: "400px",
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(".card-container", {
      height: "75dvh",
    })
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 1800,
        rotationY: 0,
        rotationZ: 0,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateY: "-50px",
        duration: 32,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow1",
      {
        scaleX: 1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow-card",
      {
        rotate: 45,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateZ: "-50px",
        translateY: 0,
        duration: 32,
      },
      "<"
    )

    // Slide 8 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".join-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 9 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-9", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience1",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 10 --------------------------------------------------------------
    .to(".hero-text-9", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-10", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience2",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 11 --------------------------------------------------------------
    .to(".hero-text-10", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-11", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience3",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 12 --------------------------------------------------------------
    .to(".hero-text-11", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-12", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience4",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 13 --------------------------------------------------------------
    .to(".hero-text-12", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-13", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience5",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 14 --------------------------------------------------------------
    .to(".hero-text-13", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-14", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience6",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 15 --------------------------------------------------------------
    .to(".hero-text-14", {
      duration: 32,
      top: "350px",
      opacity: 0,
    })

    // Final Animation Up ---------------------------------------------------
    .to(
      ".card-container",
      {
        perspective: 800,
      },
      "<"
    )
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 2520,
        duration: 32,
        transformPerspective: 4000,
      },
      "<"
    )
    .to(
      ".join-button",
      {
        marginBottom: "300px",
        opacity: 0,
        duration: 32,
      },
      "<"
    )
    .to(
      ".text-wrapper, .card-wrapper",
      {
        marginTop: "-100vh",
        duration: 32,
      },
      "<"
    );

  ScrollTrigger.create({
    animation: tl,
    trigger: "main",
    start: "top top",
    end: "+=8000",
    scrub: true,
    pin: true,
  });

  document.querySelectorAll(".logo, .animated-link").forEach((btn) => {
    btn.addEventListener("click", () => {
      const targetTime = parseFloat((btn as HTMLElement).dataset.time ?? "0");
      const tlDuration = tl.duration();
      const st = tl.scrollTrigger;

      if (!st) return;

      const progress = targetTime / tlDuration;
      const scrollPosition = st.start + (st.end - st.start) * progress;

      gsap.to(window, {
        scrollTo: { y: scrollPosition },
        duration: 2,
        ease: "power2.out",
      });
    });
  });
</script>
